<a href="https://colab.research.google.com/github/PranjalMinocha/JPLasteroid/blob/main/Week%201/Aryan_Shukla.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Mounting drive for dataset

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Importing Libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Read CSV file

In [3]:
df = pd.read_csv("/content/drive/MyDrive/input/Asteroid_Updated.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (0,10,15,16,23,24) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

### Taking Sample from dataframe

In [5]:
df.sample(5)

,name,a,e,i,om,w,q,ad,per_y,data_arc,...,UB,IR,spec_B,spec_T,G,moid,class,n,per,ma
613596,NaN,1.414061,0.510593,10.309368,75.085848,278.358454,0.692052,2.136070,1.681553,18.0,...,NaN,NaN,NaN,NaN,NaN,0.004749,APO,0.586141,614.187136,322.784082
60777,NaN,2.430951,0.117263,3.463428,81.274001,120.701818,2.145889,2.716012,3.790290,10431.0,...,NaN,NaN,NaN,NaN,NaN,1.145210,MBA,0.260040,1384.403325,10.289772
113667,NaN,2.217663,0.195919,4.972914,345.289683,304.286207,1.783181,2.652144,3.302566,6295.0,...,NaN,NaN,NaN,NaN,NaN,0.772224,MBA,0.298443,1206.262094,76.394713
145216,NaN,2.636689,0.139660,14.408746,222.275154,50.878502,2.268450,3.004928,4.281506,7175.0,...,NaN,NaN,NaN,NaN,NaN,1.281070,MBA,0.230206,1563.820068,62.512335
283955,NaN,2.314382,0.218213,24.778516,254.968984,144.671779,1.809354,2.819410,3.520958,7761.0,...,NaN,NaN,NaN,NaN,NaN,0.854323,MBA,0.279931,1286.029880,40.676314

In [6]:
print("variables in dataset are",list(df.columns))
print("No. of variables are", df.shape[1])

variables in dataset are ['name', 'a', 'e', 'i', 'om', 'w', 'q', 'ad', 'per_y', 'data_arc', 'condition_code', 'n_obs_used', 'H', 'neo', 'pha', 'diameter', 'extent', 'albedo', 'rot_per', 'GM', 'BV', 'UB', 'IR', 'spec_B', 'spec_T', 'G', 'moid', 'class', 'n', 'per', 'ma']
No. of variables are 31

### There are entries with null diameters

In [7]:
# for an instance 
df[df['diameter'].isnull()].head()

,name,a,e,i,om,w,q,ad,per_y,data_arc,...,UB,IR,spec_B,spec_T,G,moid,class,n,per,ma
681,Hagar,2.654040,0.171983,11.505647,190.799959,104.993824,2.197591,3.110489,4.323837,40313.0,...,NaN,NaN,NaN,NaN,NaN,1.215450,MBA,0.227952,1579.281370,134.457728
698,Hela,2.610998,0.410284,15.299180,242.551766,91.399514,1.539746,3.682249,4.219081,42540.0,...,0.386,NaN,Sq,S,NaN,0.624487,MCA,0.233612,1541.019467,237.586385
718,Albert,2.638780,0.546301,11.564845,183.887287,156.163668,1.197212,4.080348,4.286601,39478.0,...,NaN,NaN,S,NaN,NaN,0.203359,AMO,0.229932,1565.680891,48.317252
729,Athanasia,2.243362,0.177505,4.234895,95.073806,123.549777,1.845154,2.641570,3.360139,39112.0,...,NaN,NaN,NaN,NaN,NaN,0.841461,MBA,0.293329,1227.290668,295.120065
842,Nicolaia,2.279598,0.209766,7.997715,4.071354,316.957209,1.801415,2.757780,3.441878,37651.0,...,NaN,NaN,NaN,NaN,NaN,0.798230,MBA,0.286363,1257.146084,317.982712

In [8]:
print("Entries with null diameter are :", df['diameter'].isnull().sum())
print("Entries with not null diameter are :", df['diameter'].notnull().sum())

Entries with null diameter are : 702078
Entries with not null diameter are : 137636

### Dropping the NaN diameter values

In [9]:
df=df[df['diameter'].notnull()]

In [10]:
# after dropping the NaN val
print(df.shape)

(137636, 31)

### Here 30 features are independent variables and 1 diameter feature is dependent variable.

### Details of Some Columns
- name- Name of asteroids
- a - Semi major axis
- e - eccentricity
- i - inclination with respect to x-y elliptical plane
- om - longitude of the ascending node
- w - argument of perihelion
- q - perihelion distance
- ad - aphelion distance
- per_y - orbital period
- data_Arc - data arc span(d)
- condition_Code = orbit condition code
- n_obs_used - number of observation used
- H - absolute magnitude parameter
- neo-Near earth object
- pha - Physically hazardous object
- diameter - diameter of asteroids
- extent - Object bi/tri axial ellipsoid dimensions(Km)
- albedo - geometric albedo
- rot_per - rotation period